body{
    background-color: rgb(19, 12, 12);
    padding: 0px;
}
.navbar{
    box-shadow: 2px 2px 5px rgb(214, 205, 205);
    /* position: fixed; */
}
.navbar-nav{
    margin-left: auto;
}
.banner_web{
    /* width: 100%; */
    height: 200px;
    background-image: url("../imagenes/banner-bg-1.jpg");
    background-repeat: no-repeat;
    background-size: 130%;
    animation: movimiento_banner 10s infinite linear alternate;
    /* background-color: greenyellow;
    */
}
@keyframes movimiento_banner{
    /* para crear el movimeinto del banner */
    from{
        /* aqui empieza */
        background-position: bottom left;

    }
    to{
        background-position: top right;

    }
}
.logo{
    border-radius: 50px;
}
.mi_foto{
    border-radius: 310px;
    padding-top: 20px;    
}

.vacio{
    /* padding-top: 12%; */
}

.frase_banner{
    padding-top: 20px;
    color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.frase_ntutumu{
    text-align: center;
}
.cuerpo_principal{
    margin-top: 10px;
    box-shadow: 5px 5px 3px rgb(187, 179, 179);
    background-color:white;
    text-align: center;

}

/* estilos del pie de pafina */

.fondo_fooder{
    position: relative;
    background-image: url("../imagenes/fooder1.jfif");
    background-repeat: no-repeat;
    /* background-size: 130%; */
    height: 434px;

}

.fila_uno_footer{
    height:140px;
    /* background-color: rgb(28, 9, 8, 0.2); */
}
.fila_dos_footer{
    background-color: rgba(0, 0, 0, 0.7);
    height:300px;
    border-top: rgb(17, 15, 15) solid 1px;
    margin-bottom: 0px;
}
.fila_tres_footer{
    background-color: rgba(0, 0, 0, 0.9);
    height:70px;
    border-top: rgb(65, 62, 62) solid 1px;
    margin-top: 0px;
    font-size: 9px;
}
.col-4{
    color: white;
    font-size: 10px;
}
.bordes_logos_rs{
    border-radius: 30%;
}